<h2>Shopping Cart</h2>
<ng-container >
    <p>
        You have {{ totalItemsCount }} items in your shopping cart.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productDetails">
                <th>{{product.title}}</th>
                <th>{{product.quantity}}</th>
                <th></th>
            </tr>
        </tbody>
    </table>
</ng-container>

